body {
    font-family: sans-serif;
    background: #111;
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.app {
    width: 300px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
